li {
  list-style: none;
}
.dark .nav {
  box-shadow: 5px 5px 10px #000000a4;
}
.dark .nav__link,
.light .nav__link {
  background-color: transparent;
}
.nav__icon {
  color: #d90429;
  font-size: 3rem;
}

.nav__link,
.nav__brand {
  position: relative;
  text-decoration: none;
  font-weight: bold;
}
.nav__link:before {
  content: "";
  background-color: #d90429;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.nav__link:hover::before {
  content: "";
  background-color: #d90429;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 100%;
}
.nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 10vh;
  width: 100%;
  z-index: 999;
  box-shadow: 5px 5px 10px #888888a4;
}
.nav a span {
  color: #d90429;
}
.nav__brand {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}
@media (max-width: 900px) {
  .nav__brand {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;

    background: rgba(29, 27, 27, 0.35);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
  }
}
.nav__active {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
