* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  position: relative;
}
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(137, 137, 137);
}
